$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-bg: #f2f2f2;
$color-black: black;
$color-white: white;
$color-btn: linear-gradient(to bottom right, $color-secondary, $color-primary);

$radius: (
  carte: 20px,
  menu: 30px,
);

$breakpoints: (
  tablet: 768px,
  desktop: 1024px,
);

$size: (
  body: 13px,
  smaller: 12px,
  logo: 25px,
  logo-footer: 17px,
  titre-body: 20px,
  icone-header: 20px,
  titre-menu: 15px,
);

// SCSS général

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: map-get($size, logo);
  font-weight: normal;
  margin: 0;
  padding: 15px;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: map-get($size, logo-footer);
  font-weight: normal;
}

h3 {
  font-size: map-get($size, titre-body);
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: map-get($size, body);
  margin: 0;
}

a {
  text-decoration: none;
}

span {
  font-weight: bold;
}

// début SCSS section

@mixin carte {
  background-color: $color-white;
  border-radius: map-get($radius, carte);
  color: $color-black;
  position: relative;
}

@mixin bouton {
  border-radius: map-get($radius, carte);
  border: none;
  width: 190px;
  height: 40px;
  color: $color-white;
  font-weight: bold;
  background: $color-btn;
  @include shadow;
    &:hover {
      @include animation-bouton;
    }
}

@mixin shadow($color: $color-bg) {
  box-shadow: 0 5px 5px darken($color, 15%);
}

@mixin map-background($color: $color-bg) {
  background-color: darken($color, 5%);
  box-shadow: inset 0 7px 4px -5px darken($color, 15%);
}

@mixin coeur {
  text-shadow: 0 0 1px black;
}

@mixin animation-bouton {
  opacity: 80%;
      box-shadow: 0 8px 5px darken($color-bg, 30%);
      transition: all 300ms;
}

@mixin texte-carte {
  padding-left: 10px;
  line-height: 20px;
  margin: 10px 0 5px 0;
}

.section1 {
  text-align: center;
  background-color: $color-bg;
  padding-bottom: 40px;
  &__map {
    @include map-background;
    padding: 10px 0 10px 0;
    font-weight: 500;
    font-size: map-get($size, smaller);
    margin: 0;
    &--icone {
      padding-right: 10px;
    }
  }
  &__btn {
    margin-top: 10px;
    @include bouton;
    
  }
}

//section 2

.section2 {
  margin: 40px 10px 60px 15px;
  &__ol {
    counter-reset: liste;
    list-style: none;
    padding-left: 10px;
    &--list {
      @include carte;
      background-color: $color-bg;
      padding: 25px 0 25px 0;
      margin-bottom: 15px;
      @include shadow;
      &:hover {
        background-color: lighten($color-primary, 35%);
        i {
          color: $color-primary;
        }
      }
      &--icone {
        padding: 0 20px 0 30px;
        color: grey;
        text-align: center;
      }
    }
    &--list::before {
      counter-increment: liste;
      content: counter(liste);
      color: $color-white;
      background-color: $color-primary;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: -10px;
      text-align: center;
      font-size: map-get($size, smaller);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// section 3 (carte resto)

@keyframes coeur-remplissage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section3 {
  background-color: $color-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 15px 30px 15px;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__link {
    margin-bottom: 15px;
    @include carte;
    @media (min-width: map-get($breakpoints, desktop)) {
      width: 400px;
  }
  }
  &__txt {
    @include texte-carte;
    position: relative;
    &--coeur {
      @include coeur;
      color: $color-white;
      position: absolute;
      right: 10px;
      top: 2px;
      &:hover {
        text-shadow: none;
        animation: coeur-remplissage 1s ease-in-out;
        &::before {
          background: -webkit-linear-gradient(#9356dc, #ff79da);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}



.section3 img,
.section3 figure {
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 180px;
  margin: auto;
  border-top-left-radius: map-get($radius, carte);
  border-top-right-radius: map-get($radius, carte);
}

.note img,
.note figure {
  background-position: center;
}

.palette figure {
  background-image: url(Images/palette.jpg);
}

.note figure {
  background-image: url(Images/note.jpg);
}

.française figure {
  background-image: url(Images/française.jpg);
}

.délice figure {
  background-image: url(Images/délice.jpg);
}

@mixin color-new($color: $color-tertiaire) {
  color: darken($color, 35%);
}

.new::after {
  content: "Nouveau";
  background-color: $color-tertiaire;
  width: 70px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: map-get($size, smaller);
  border-radius: 2px;
  @include color-new;
  padding-top: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
}

// SCSS footer

.footer {
  background-color: $color-black;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 5px;
  color: $color-white;
  &__logo {
    margin-left: 25px;
    &--list {
      list-style-type: none;
      line-height: 30px;
      &--icone {
        padding-right: 5px;
      }
    }
  }
}

.footer a {
  color: $color-white;
}

// Menu 1

.header {
  position: relative;
  &__icone {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: map-get($size, icone-header);
    color: $color-black;
  }
}

@keyframes menu {
  from {
    opacity: 0;
    top: 50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.menu {
  background-color: $color-bg;
  padding: 5px 10px 30px 10px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 100%;
    top: -30px;
    left: 0;
    background-color: $color-bg;
    border-top-left-radius: map-get($radius, menu);
    border-top-right-radius: map-get($radius, menu);
  }
  &__image {
    background-image: url(Images/palette.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 230px;
  }
  &__titre {
    text-align: left;
    padding-left: 5px;
    position: relative;
    margin: 0;
    &--icone {
      @include coeur;
      color: $color-bg;
      position: absolute;
      right: 25px;
      top: 5px;
    }
  }
  &__sstitre {
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    &::after {
      content: "";
      width: 40px;
      height: 3px;
      background-color: $color-tertiaire;
      position: absolute;
      bottom: -5px;
      left: 5px;
    }
  }
  ul {
    padding-left: 0;
  }
  &__carte {
    @include carte;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    animation: menu 500ms;
    animation-fill-mode: forwards;
    &:hover .checkbox {
      width: 60px;
      i {
        transform: rotate(360deg);
        transition: all 500ms ease-in-out;
      }
    }
    &-plat {
      flex-direction: column;
      flex-grow: 2;
      min-width: 0;
      white-space: nowrap;
      &--titre {
        margin: 0;
        padding: 10px 10px 5px 10px;
        font-size: map-get($size, titre-menu);
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--texte {
        margin: 0;
        padding: 0 35px 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        position: relative;
        span {
          position: absolute;
          right: 10px;
        }
      }
    }
  }
  &__btn {
    @include bouton;
    display: block;
    margin: auto;
    margin-top: 30px;
  }
}




.menu__carte:nth-child(1) {
  animation-delay: 200ms;
}

.menu__carte:nth-child(2) {
  animation-delay: 400ms;
}

.menu__carte:nth-child(3) {
  animation-delay: 600ms;
}


.checkbox {
  width: 0;
  background-color: $color-tertiaire;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0) scale(1) ;
    opacity: 1;
    border-radius: 0;
  }
  50% {
    transform: rotate(180deg) scale(2) ;
    border-radius: 50%;
  }
  95% {
    opacity: 1;
    border-radius: 0;
  }
  to {
    transform: rotate(0) scale(1) ;
    opacity: 0;
  }
}

@keyframes load {
  from {
    opacity: 1;
  }

95% {
  opacity: 0;
  height: 100vh;
}
  to {
    height: 0;
  }
}

.spinner {
  position: relative;
}
    
.load {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  z-index: 1000;
  animation: load 500ms 2500ms forwards;
  overflow: hidden;
    &__1 {
      width: 20px;
      height: 20px;
      background-color: $color-primary;
      animation: loading-spinner 800ms 300ms forwards 2 ease-in-out alternate;
    }
    &__2 {
      width: 20px;
      height: 20px;
      background-color: $color-secondary;
      margin: 0 30px 0 30px;
      animation: loading-spinner 800ms 600ms forwards 2 ease-in-out alternate;
    }
    &__3 {
      width: 20px;
      height: 20px;
      background-color: $color-tertiaire;
      animation: loading-spinner 800ms 900ms forwards 2 ease-in-out alternate;
    }
  }