@charset "UTF-8";
h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin: 0;
}

a {
  text-decoration: none;
}

span {
  font-weight: bold;
}

.section1 {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 40px;
}
.section1__map {
  background-color: #e5e5e5;
  box-shadow: inset 0 7px 4px -5px #cccccc;
  padding: 10px 0 10px 0;
  font-weight: 500;
  font-size: 12px;
}
.section1__map--icone {
  padding-right: 10px;
}
.section1__btn {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  width: 190px;
  height: 40px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0 5px 5px #cccccc;
}
.section1__btn:hover {
  opacity: 80%;
  box-shadow: 0 8px 5px #a6a6a6;
  transition: all 300ms;
}

.section2 {
  margin: 40px 10px 60px 15px;
}
.section2__ol {
  counter-reset: liste;
  list-style: none;
  padding-left: 10px;
}
.section2__ol--list {
  background-color: white;
  border-radius: 20px;
  color: black;
  position: relative;
  background-color: #f2f2f2;
  padding: 25px 0 25px 0;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px #cccccc;
}
.section2__ol--list:hover {
  background-color: #f2eafb;
}
.section2__ol--list:hover i {
  color: #9356dc;
}
.section2__ol--list--icone {
  padding: 0 20px 0 30px;
  color: grey;
  text-align: center;
}
.section2__ol--list::before {
  counter-increment: liste;
  content: counter(liste);
  color: white;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes coeur-remplissage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section3 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 15px 30px 15px;
}
.section3__link {
  margin-bottom: 15px;
  background-color: white;
  border-radius: 20px;
  color: black;
  position: relative;
}
.section3__txt {
  padding-left: 10px;
  line-height: 20px;
  margin: 10px 0 5px 0;
  position: relative;
}
.section3__txt--coeur {
  text-shadow: 0 0 1px black;
  color: white;
  position: absolute;
  right: 10px;
  top: 2px;
}
.section3__txt--coeur:hover {
  text-shadow: none;
  animation: coeur-remplissage 1s;
}
.section3__txt--coeur:hover::before {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section3 img,
.section3 figure {
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 180px;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.note img,
.note figure {
  background-position: center;
}

.palette figure {
  background-image: url(Images/palette.jpg);
}

.note figure {
  background-image: url(Images/note.jpg);
}

.française figure {
  background-image: url(Images/française.jpg);
}

.délice figure {
  background-image: url(Images/délice.jpg);
}

.new::after {
  content: "Nouveau";
  background-color: #99e2d0;
  width: 70px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
  color: #2c9c81;
  padding-top: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.footer {
  background-color: black;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 5px;
  color: white;
}
.footer__logo {
  margin-left: 25px;
}
.footer__logo--list {
  list-style-type: none;
  line-height: 30px;
}
.footer__logo--list--icone {
  padding-right: 5px;
}

.footer a {
  color: white;
}

.header {
  position: relative;
}
.header__icone {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 20px;
  color: black;
}

@keyframes menu {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.menu {
  background-color: #f2f2f2;
  padding: 5px 10px 30px 10px;
  position: relative;
}
.menu::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  top: -30px;
  left: 0;
  background-color: #f2f2f2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu__image {
  background-image: url(Images/palette.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
}
.menu__titre {
  text-align: left;
  padding-left: 5px;
  position: relative;
  margin: 0;
}
.menu__titre--icone {
  text-shadow: 0 0 1px black;
  color: #f2f2f2;
  position: absolute;
  right: 25px;
  top: 5px;
}
.menu__sstitre {
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
}
.menu__sstitre::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  bottom: -5px;
  left: 5px;
}
.menu ul {
  padding-left: 0;
}
.menu__carte {
  background-color: white;
  border-radius: 20px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
  top: 50px;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  animation: menu 500ms;
  animation-fill-mode: forwards;
}
.menu__carte:hover .checkbox {
  width: 60px;
}
.menu__carte:hover .checkbox i {
  transform: rotate(360deg);
  transition: all 500ms ease-in-out;
}
.menu__carte-plat {
  flex-direction: column;
  flex-grow: 2;
  min-width: 0;
  white-space: nowrap;
}
.menu__carte-plat--titre {
  margin: 0;
  padding: 10px 10px 5px 10px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__carte-plat--texte {
  margin: 0;
  padding: 0 35px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  position: relative;
}
.menu__carte-plat--texte span {
  position: absolute;
  right: 10px;
}
.menu__btn {
  border-radius: 20px;
  border: none;
  width: 190px;
  height: 40px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0 5px 5px #cccccc;
  display: block;
  margin: auto;
  margin-top: 30px;
}
.menu__btn:hover {
  opacity: 80%;
  box-shadow: 0 8px 5px #a6a6a6;
  transition: all 300ms;
}

.menu__carte:nth-child(1) {
  animation-delay: 200ms;
}

.menu__carte:nth-child(2) {
  animation-delay: 400ms;
}

.menu__carte:nth-child(3) {
  animation-delay: 600ms;
}

.checkbox {
  width: 0;
  background-color: #99e2d0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  to {
    transform: rotate(0) scale(1);
  }
}
.spinner {
  position: relative;
}

.load {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
}
.load__1 {
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  animation: loading-spinner 1500ms 300ms backwards 3 ease-in-out alternate;
}
.load__2 {
  width: 20px;
  height: 20px;
  background-color: #ff79da;
  margin: 0 30px 0 30px;
  animation: loading-spinner 1500ms 600ms backwards 3 ease-in-out alternate;
}
.load__3 {
  width: 20px;
  height: 20px;
  background-color: #99e2d0;
  animation: loading-spinner 1500ms 900ms backwards 3 ease-in-out alternate;
}

/*# sourceMappingURL=.style.css.map */
